@using InsaClub.ViewModels
@model UserDetailViewModel


<div class="main-container">
    <nav aria-label="breadcrumb" role="navigation" class="bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Home</a>
                        </li>


                        <li class="breadcrumb-item active" aria-current="page">Profile</li>
                    </ol>
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </nav>
    <section class="bg-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8">
                    <div class="media">
                        <img alt="Image" src="@Model.ProfileImageUrl" class="mr-md-5 avatar avatar-xlg">
                        <div class="media-body">
                            <div class="mb-3">
                                <h1 class="h2 mb-2">@Model.FirstName @Model.LastName</h1>
                                <span class="text-muted text-small"> @Model.StudyLevel.Level
                                    @Model.StudyLevel.Speciality</span>

                            </div>
                            <p>
                                @Model.Bio
                            </p>
                            @* <div>
                            <button class="btn btn-outline-primary" data-toggle="button"><i class="icon-add-user"></i>
                            Follow</button>
                            <button class="btn btn-outline-primary">
                            <i class="icon-mail"></i>
                            </button>
                            <div class="dropdown d-inline-block">
                            <button class="btn btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow"
                            type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <i class="icon-dots-three-horizontal"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="dropdownMenuButton"
                            x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px;
                            left: 0px; transform: translate3d(0px, 36px, 0px);">
                            <a class="dropdown-item" href="#">Add to group</a>
                            <a class="dropdown-item" href="#">Share Profile</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Block</a>
                            <a class="dropdown-item" href="#">Report</a>
                            </div>
                            </div>
                            </div> *@
                        </div>
                    </div>
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <!--end of section-->
    <section class="flush-with-above space-0">
        <div class="bg-white">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="events-tab" data-toggle="tab" href="#events" role="tab"
                                    aria-controls="events" aria-selected="true">Events</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="groups-tab" data-toggle="tab" href="#clubs" role="tab"
                                    aria-controls="clubs" aria-selected="false">Clubs created</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="clubsIn-tab" data-toggle="tab" href="#clubsIn" role="tab"
                                    aria-controls="clubsIn" aria-selected="false">Clubs joined</a>
                            </li>
                        </ul>
                    </div>
                    <!--end of col-->
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </div>
    </section>
    <section class="flush-with-above">
        <div class="tab-content">
            <div class="tab-pane fade active show" id="events" role="tabpanel" aria-labelledby="events-tab">
                <div class="container">
                    <ul class="row feature-list feature-list-sm">

                        <li class="col-12 col-md-6 col-lg-4">
                            <div class="card">
                                <a href="#">
                                    <img class="card-img-top" src="/img/graphic-product-bench.jpg" alt="Card image cap">
                                </a>
                                <div class="card-body">
                                    <a href="#">
                                        <h4 class="card-title">Bench</h4>
                                        <p class="card-text text-body">Accounting for creative people</p>
                                    </a>
                                </div>
                                <div class="card-footer card-footer-borderless d-flex justify-content-between">
                                    <div class="text-small">
                                        <ul class="list-inline">
                                            <li class="list-inline-item"><i class="icon-heart mr-1"></i> 373</li>
                                            <li class="list-inline-item"><i class="icon-message mr-1"></i> 62</li>
                                        </ul>
                                    </div>
                                    <div class="dropup">
                                        <button
                                            class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow"
                                            type="button" id="BenchButton" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            <i class="icon-dots-three-horizontal"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="BenchButton">
                                            <a class="dropdown-item" href="#">Save</a>
                                            <a class="dropdown-item" href="#">Share</a>
                                            <a class="dropdown-item" href="#">Comment</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Report</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!--end of col-->

                        <li class="col-12 col-md-6 col-lg-4">
                            <div class="card">
                                <a href="#">
                                    <img class="card-img-top" src="/img/graphic-product-kin.jpg" alt="Card image cap">
                                </a>
                                <div class="card-body">
                                    <a href="#">
                                        <h4 class="card-title">Kin</h4>
                                        <p class="card-text text-body">The digital fashion assistant</p>
                                    </a>
                                </div>
                                <div class="card-footer card-footer-borderless d-flex justify-content-between">
                                    <div class="text-small">
                                        <ul class="list-inline">
                                            <li class="list-inline-item"><i class="icon-heart mr-1"></i> 84</li>
                                            <li class="list-inline-item"><i class="icon-message mr-1"></i> 21</li>
                                        </ul>
                                    </div>
                                    <div class="dropup">
                                        <button
                                            class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow"
                                            type="button" id="KinButton" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            <i class="icon-dots-three-horizontal"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="KinButton">
                                            <a class="dropdown-item" href="#">Save</a>
                                            <a class="dropdown-item" href="#">Share</a>
                                            <a class="dropdown-item" href="#">Comment</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Report</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!--end of col-->

                        <li class="col-12 col-md-6 col-lg-4">
                            <div class="card">
                                <a href="#">
                                    <img class="card-img-top" src="/img/graphic-product-paydar.jpg"
                                        alt="Card image cap">
                                </a>
                                <div class="card-body">
                                    <a href="#">
                                        <h4 class="card-title">Paydar</h4>
                                        <p class="card-text text-body">Location based touch payments</p>
                                    </a>
                                </div>
                                <div class="card-footer card-footer-borderless d-flex justify-content-between">
                                    <div class="text-small">
                                        <ul class="list-inline">
                                            <li class="list-inline-item"><i class="icon-heart mr-1"></i> 253</li>
                                            <li class="list-inline-item"><i class="icon-message mr-1"></i> 19</li>
                                        </ul>
                                    </div>
                                    <div class="dropup">
                                        <button
                                            class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow"
                                            type="button" id="PaydarButton" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            <i class="icon-dots-three-horizontal"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="PaydarButton">
                                            <a class="dropdown-item" href="#">Save</a>
                                            <a class="dropdown-item" href="#">Share</a>
                                            <a class="dropdown-item" href="#">Comment</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Report</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!--end of col-->

                        <li class="col-12 col-md-6 col-lg-4">
                            <div class="card">
                                <a href="#">
                                    <img class="card-img-top" src="/img/graphic-product-pipeline.jpg"
                                        alt="Card image cap">
                                </a>
                                <div class="card-body">
                                    <a href="#">
                                        <h4 class="card-title">pipeline.js</h4>
                                        <p class="card-text text-body">Snappy UI interaction library with flexible API
                                        </p>
                                    </a>
                                </div>
                                <div class="card-footer card-footer-borderless d-flex justify-content-between">
                                    <div class="text-small">
                                        <ul class="list-inline">
                                            <li class="list-inline-item"><i class="icon-heart mr-1"></i> 84</li>
                                            <li class="list-inline-item"><i class="icon-message mr-1"></i> 25</li>
                                        </ul>
                                    </div>
                                    <div class="dropup">
                                        <button
                                            class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow"
                                            type="button" id="pipeline.jsButton" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                            <i class="icon-dots-three-horizontal"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="pipeline.jsButton">
                                            <a class="dropdown-item" href="#">Save</a>
                                            <a class="dropdown-item" href="#">Share</a>
                                            <a class="dropdown-item" href="#">Comment</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Report</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!--end of col-->

                        <li class="col-12 col-md-6 col-lg-4">
                            <div class="card">
                                <a href="#">
                                    <img class="card-img-top" src="/img/graphic-product-pitstop.jpg"
                                        alt="Card image cap">
                                </a>
                                <div class="card-body">
                                    <a href="#">
                                        <h4 class="card-title">Pitstop</h4>
                                        <p class="card-text text-body">Browser-based project management</p>
                                    </a>
                                </div>
                                <div class="card-footer card-footer-borderless d-flex justify-content-between">
                                    <div class="text-small">
                                        <ul class="list-inline">
                                            <li class="list-inline-item"><i class="icon-heart mr-1"></i> 90</li>
                                            <li class="list-inline-item"><i class="icon-message mr-1"></i> 34</li>
                                        </ul>
                                    </div>
                                    <div class="dropup">
                                        <button
                                            class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow"
                                            type="button" id="PitstopButton" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            <i class="icon-dots-three-horizontal"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="PitstopButton">
                                            <a class="dropdown-item" href="#">Save</a>
                                            <a class="dropdown-item" href="#">Share</a>
                                            <a class="dropdown-item" href="#">Comment</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Report</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!--end of col-->

                        <li class="col-12 col-md-6 col-lg-4">
                            <div class="card">
                                <a href="#">
                                    <img class="card-img-top" src="/img/graphic-product-sidekick.jpg"
                                        alt="Card image cap">
                                </a>
                                <div class="card-body">
                                    <a href="#">
                                        <h4 class="card-title">Sidekick</h4>
                                        <p class="card-text text-body">Holistic fitness tracking</p>
                                    </a>
                                </div>
                                <div class="card-footer card-footer-borderless d-flex justify-content-between">
                                    <div class="text-small">
                                        <ul class="list-inline">
                                            <li class="list-inline-item"><i class="icon-heart mr-1"></i> 221</li>
                                            <li class="list-inline-item"><i class="icon-message mr-1"></i> 14</li>
                                        </ul>
                                    </div>
                                    <div class="dropup">
                                        <button
                                            class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow"
                                            type="button" id="SidekickButton" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                            <i class="icon-dots-three-horizontal"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="SidekickButton">
                                            <a class="dropdown-item" href="#">Save</a>
                                            <a class="dropdown-item" href="#">Share</a>
                                            <a class="dropdown-item" href="#">Comment</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Report</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!--end of col-->

                    </ul>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </div>

            <div class="tab-pane fade" id="clubs" role="tabpanel" aria-labelledby="groups-tab">
                <div class="container">
                    <div class="row">
                        @if (Model.Clubs != null)
                        {
                            foreach (var club in Model.Clubs)
                            {

                                <div class="col-12 col-md-6 col-lg-4 d-flex">
                                    <div class="card">
                                        <a type="button" asp-controller="Club" asp-action="DetailClub"
                                            asp-route-runningClub="@club.Id" asp-route-id="@club.Id">
                                            <img class="card-img-top" src="@club.Image" alt="Card image cap">
                                        </a>
                                        <div class="card-body">
                                            <a href="#" class="d-block mb-2">
                                                <h4>@club.Title</h4>
                                            </a>
                                            <span>@club.Description</span>
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item"><i class="icon-users">&nbsp;</i>
                                                @club.Members.Count
                                                members
                                            <li class="list-group-item"><i class="icon-folder">&nbsp;</i> 12 projects</li>
                                        </ul>
                                        <div class="card-footer d-flex align-items-center">
                                            <div>
                                                <ul class="list-inline list-spacing-sm">

                                                    <li class="list-inline-item">
                                                        <img alt="Group member" class="avatar avatar-xs" src="/img/avatar.jpg">
                                                    </li>

                                                    <li class="list-inline-item">
                                                        <img alt="Group member" class="avatar avatar-xs" src="/img/avatar.jpg">
                                                    </li>

                                                    <li class="list-inline-item">
                                                        <img alt="Group member" class="avatar avatar-xs" src="/img/avatar.jpg">
                                                    </li>

                                                    <li class="list-inline-item">
                                                        <img alt="Group member" class="avatar avatar-xs" src="/img/avatar.jpg">
                                                    </li>

                                                </ul>
                                            </div>
                                            <span class="text-small ml-2">+ 14 more</span>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <h1>No clubs created</h1>
                        }


                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </div>

            <div class="tab-pane fade" id="clubsIn" role="tabpanel" aria-labelledby="clubsIn-tab">
                <div class="container">
                    <div class="row">
                        @if (Model.ClubsIn != null)
                        {
                            foreach (var club in Model.ClubsIn)
                            {

                                <div class="col-12 col-md-6 col-lg-4 d-flex">
                                    <div class="card">
                                        <a type="button" asp-controller="Club" asp-action="DetailClub"
                                            asp-route-runningClub="@club.Id" asp-route-id="@club.Id">
                                            <img class="card-img-top" src="@club.Image" alt="Card image cap">
                                        </a>
                                        <div class="card-body">
                                            <a href="#" class="d-block mb-2">
                                                <h4>@club.Title</h4>
                                            </a>
                                            <span>@club.Description</span>
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item"><i class="icon-users">&nbsp;</i>
                                                @club.Members.Count
                                                members
                                            <li class="list-group-item"><i class="icon-folder">&nbsp;</i> 12 projects</li>
                                        </ul>
                                        <div class="card-footer d-flex align-items-center">
                                            <div>
                                                <ul class="list-inline list-spacing-sm">

                                                    <li class="list-inline-item">
                                                        <img alt="Group member" class="avatar avatar-xs" src="/img/avatar.jpg">
                                                    </li>

                                                    <li class="list-inline-item">
                                                        <img alt="Group member" class="avatar avatar-xs" src="/img/avatar.jpg">
                                                    </li>

                                                    <li class="list-inline-item">
                                                        <img alt="Group member" class="avatar avatar-xs" src="/img/avatar.jpg">
                                                    </li>

                                                    <li class="list-inline-item">
                                                        <img alt="Group member" class="avatar avatar-xs" src="/img/avatar.jpg">
                                                    </li>

                                                </ul>
                                            </div>
                                            <span class="text-small ml-2">+ 14 more</span>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <h1>No clubs joined</h1>
                        }


                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </div>

        </div>
    </section>
    <!--end of section-->
    @* <footer class="footer-short">
    <div class="container">
    <hr>

    <!--end of row-->

    <!--end of row-->
    </div>
    <!--end of container-->
    </footer> *@
</div>