@using InsaClub.ViewModels
@model ProfileViewModel

<div class="main-container">
    <section class="bg-white space-sm pb-4">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-auto">
                    <h1 class="h2">Account Settings</h1>
                </div>
                <!--end of col-->
                <!--end of col-->
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <!--end of section-->
    <section class="flush-with-above space-0">
        <div class="bg-white">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link @(Model.ActiveTab == "profile" ? "active" : "")" id="overview-tab"
                                    data-toggle="tab" href="#profile" role="tab" aria-selected="true">Profile</a>



                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(Model.ActiveTab == "security" ? "active" : "")" id="security-tab"
                                    data-toggle="tab" href="#security" role="tab" aria-selected="true">Security</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(Model.ActiveTab == "image" ? "active" : "")" id="image-tab"
                                    data-toggle="tab" href="#image" role="tab" aria-selected="true">Change image</a>

                            </li>

                        </ul>
                    </div>
                    <!--end of col-->
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </div>
    </section>
    <section class="flush-with-above height-80 d-block">
        <div class="tab-content">
            <div class="tab-pane fade show @(Model.ActiveTab == "profile" ? "active" : "")" id="profile"
                role="tabpanel">
                <div class="container">

                    <!--end of row-->
                    <hr />
                    <div class="row mb-4">
                        <div class="col">
                            <h5>Profile Information</h5>
                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                    <div class="row">
                        <!--end of col-->
                        <div class="col-12 col-md-8 order-md-1">
                            <form asp-action="UpdateProfile" method="post" class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label asp-for="EditProfileViewModel.EmailAddress"
                                            class="control-label"></label>
                                        <input asp-for="EditProfileViewModel.EmailAddress" class="form-control" disabled
                                            value="@Model.EditProfileViewModel.EmailAddress" />
                                        <input type="hidden" asp-for="EditProfileViewModel.EmailAddress" />

                                        <span asp-validation-for="EditProfileViewModel.EmailAddress"
                                            class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group
                    ">
                                        <label asp-for="EditProfileViewModel.FirstName" class="control-label"></label>
                                        <input asp-for="EditProfileViewModel.FirstName" class="form-control" />
                                        <span asp-validation-for="EditProfileViewModel.FirstName"
                                            class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group
                    ">
                                        <label asp-for="EditProfileViewModel.LastName" class="control-label"></label>
                                        <input asp-for="EditProfileViewModel.LastName" class="form-control" />
                                        <span asp-validation-for="EditProfileViewModel.LastName"
                                            class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12">

                                    <div class="form-group">
                                        <label asp-for="EditProfileViewModel.StudyLevel" class="control-label"></label>
                                        <select asp-for="EditProfileViewModel.StudyLevel.Level" class="form-control">
                                            <option value="">Select Study Level</option>
                                            @foreach (var level in Enum.GetValues(typeof(EStudyLevel)))















                                            {















                                                var isSelected = Model.EditProfileViewModel != null &&















                                                Model.EditProfileViewModel.StudyLevel != null &&















                                                Model.EditProfileViewModel.StudyLevel.Level.Equals(level);















                                                //conditional rendering
                                                @if (isSelected)







                                                {
                                                    <option value="@level" selected>@level</option>
                                                }







                                                else







                                                {
                                                    <option value="@level">@level</option>
                                                }
                                            }
                                        </select>


                                        <select asp-for="EditProfileViewModel.StudyLevel.Speciality"
                                            class="form-control mt-2">
                                            <option value="">Select Speciality</option>
                                            @foreach (var speciality in Enum.GetValues(typeof(ESpeciality)))















                                            {















                                                var isSelected = Model.EditProfileViewModel != null &&















                                                Model.EditProfileViewModel.StudyLevel != null &&















                                                Model.EditProfileViewModel.StudyLevel.Speciality.Equals(speciality);















                                                //conditional rendering
                                                @if (isSelected)







                                                {
                                                    <option value="@speciality" selected>@speciality</option>
                                                }







                                                else







                                                {
                                                    <option value="@speciality">@speciality</option>
                                                }
                                            }

                                        </select>
                                        <span asp-validation-for="EditProfileViewModel.StudyLevel"
                                            class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label asp-for="EditProfileViewModel.Bio" class="control-label"></label>
                                        <input asp-for="EditProfileViewModel.Bio" class="form-control" />
                                        <span asp-validation-for="EditProfileViewModel.Bio" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <button class="btn btn-primary" type="submit">Save changes</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </div>
            <!--end of tab pane-->
            <div class="tab-pane @(Model.ActiveTab == "security" ? "active" : "")" id="security" role="tabpanel">
                <div class="container">
                    <form asp-action="UpdatePassword" method="post" class="row">
                        @{
                            Console.WriteLine("*****OldPAssword******");
                            Console.WriteLine(Model.PasswordUpdateViewModel.OldPassword);
                        }
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="PasswordUpdateViewModel.OldPassword" class="control-label"></label>
                                <input asp-for="PasswordUpdateViewModel.OldPassword" class="form-control" />
                                <span asp-validation-for="PasswordUpdateViewModel.OldPassword"
                                    class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group
                    ">
                                <label asp-for="PasswordUpdateViewModel.NewPassword" class="control-label"></label>
                                <input asp-for="PasswordUpdateViewModel.NewPassword" class="form-control" />
                                <span asp-validation-for="PasswordUpdateViewModel.NewPassword"
                                    class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">

                            <div class="form-group
                    ">
                                <label asp-for="PasswordUpdateViewModel.ConfirmNewPassword"
                                    class="control-label"></label>
                                <input asp-for="PasswordUpdateViewModel.ConfirmNewPassword" class="form-control" />
                                <span asp-validation-for="PasswordUpdateViewModel.ConfirmNewPassword"
                                    class="text-danger"></span>

                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <button class="btn btn-primary" type="submit">Save changes</button>
                            </div>
                        </div>
                    </form>

                </div>
                <!--end of container-->
            </div>
            <div class="tab-pane @(Model.ActiveTab == "image" ? "active" : "")" id="image" role="tabpanel">
                <div class="container">
                    <div class="row">

                        <div class="col-12">
                            <div class="media flex-wrap mb-0 align-items-center">
                                @{
                                    var imageUrl = string.IsNullOrEmpty(Model.UpdatePhotoUpdateModel.ProfileImageUrl)















                                    ? "/img/avatar-male-3.jpg"















                                    : Model.UpdatePhotoUpdateModel.ProfileImageUrl;
                                }
                                <img alt="Image" src="@imageUrl" class="avatar avatar-lg mb-3 mb-md-0" />
                                <div class="media-body">
                                    <form asp-action="UpdatePhoto" method="post" enctype="multipart/form-data">
                                        <label asp-for="UpdatePhotoUpdateModel.Image" class="custom-file mb-2"
                                            for="file2">
                                            <input asp-for="UpdatePhotoUpdateModel.Image" type="file" id="file2"
                                                class="custom-file-input height-0" oninput="submitProfileImage();" />
                                            <span class="btn btn-primary"><i
                                                    class="icon-upload-to-cloud">&nbsp;</i>Upload</span>
                                            <span asp-validation-for="UpdatePhotoUpdateModel.Image"
                                                class="text-danger"></span>
                                            <button id="submit-image-button" type="submit" hidden></button>
                                        </label>
                                        <div>
                                            <small>For best results, use an image at least 256px by 256px in either .jpg
                                                or .png format</small>
                                        </div>



                                    </form>
                                </div>
                            </div>
                        </div>
                        <!--end of col-->
                    </div>
                </div>
            </div>

            <!--end of tab pane-->

            <!--end of tabs content-->
    </section>
    <!--end of section-->
</div>



<script type="text/javascript">
    function submitProfileImage() {
        document.getElementById("submit-image-button").click();
    }
</script>
