@using InsaClub.ViewModels
@model DetailClubViewModel
@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
  ViewData["Title"] = "Club Details";
}
@{
  bool isMember = ViewBag.isMember;
  bool isOwner = ViewBag.isOwner;
}
<div class="main-container">
  <nav aria-label="breadcrumb" role="navigation" class="bg-primary text-white">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a>
            </li>
            <li class="breadcrumb-item"><a href="pages-app.html">Find</a>
            </li>

          </ol>
        </div>
        <!--end of col-->
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </nav>
  <section class="bg-white space-sm">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 mb-4 mb-sm-0">
          <img alt="Image" src="@Model.Club.Image" class="rounded img-fluid" />
        </div>
        <!--end of col-->
        <div class="col-lg-4 d-flex flex-column justify-content-between mr-auto ml-auto">
          <div>
            <h1 class="mb-2">@Model.Club.Title</h1>
            <div>
              <span class="badge badge-secondary mr-3">@Model.Club.ClubCategory</span>
            </div>
            <div class="my-4">
              <div class="btn-group mb-2">
                @if (SignInManager.IsSignedIn(User))
                {
                  @if (!@isMember)
                  {
                    <form method="post" asp-action="JoinClub" asp-route-id="@Model.Club.Id">
                      <button type="submit" class="btn btn-success btn-lg">Join Club</button>
                    </form>
                  }
                  @if (@isMember && !@isOwner)
                  {
                    <form method="post" asp-action="LeaveClub" asp-route-id="@Model.Club.Id">
                      <button type="submit" class="btn btn-danger btn-lg">Leave Club</button>
                    </form>
                  }
                }
              </div>
            </div>
            <div>
              <h1 class="mb-2">Members</h1>
              @if (Model.Members != null && Model.Members.Count == 0)
              {
                <p class="text-small text-muted mr-2">No members yet</p>
              }
              else if (Model.Members != null && Model.Members.Count > 0)
              {
                @foreach (var member in Model.Members)
                {
                  <p class="text-small text-muted mr-2">@member.FirstName @member.LastName</p>
                }
              }
            </div>

          </div>
          <!--end of col-->
        </div>
        <!--end of row-->
      </div>
      <!--end of container-->
  </section>
  <!--end of section-->
  <section class="space-sm">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-12 col-md-8 col-lg-7">
          <h5 class="mb-4">Overview</h5>
          <article>
            @Model.Club.Description
          </article>
          <hr>
          @if (isOwner)
          {
            <h5 class="mb-4">Actions</h5>
            <div class="card">
              <div class="card-header bg-secondary d-flex justify-content-between">
                <a class="btn btn-secondary" asp-controller="Club" asp-action="Edit"
                  asp-route-id="@Model.Club.Id">Edit</a>
                <a class="btn btn-secondary" asp-controller="Club" asp-action="Delete"
                  asp-route-id="@Model.Club.Id">Delete</a>
              </div>
              <div class="collapse" id="comment-reply">
                <form class="card-body">
                  <div class="form-group">
                    <textarea class="form-control from-control-lg" id="comment-reply-text" name="comment-reply" rows="4"
                      placeholder="Type your reply here"></textarea>
                  </div>
                  <div class="mb-2">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" name="notify-reply" id="check-notify">
                      <label class="custom-control-label text-small" for="check-notify">Notify me when someone
                        replies</label>
                    </div>
                  </div>
                  <div class="d-flex align-items-center">
                    <button type="submit" class="btn btn-success mr-3">Submit reply</button>
                    <a href="#comment-reply" class="text-small text-muted" data-toggle="collapse" aria-expanded="true"
                      aria-controls="comment-reply">Cancel</a>
                  </div>
                </form>
              </div>
              <ul class="list-group list-group-flush list-group-comments">


              </ul>
            </div>
          }
        </div>
        <!--end of col-->
        <div class="col-12 col-md-4">

          <!-- end card -->
          <div class="card">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="d-flex justify-content-between">
                  <div><i class="icon-text-document mr-1"></i> Created</div>
                  <span>@Model.Club.CreatedAt</span>
                </div>
              </li>
              <li class="list-group-item">
                <div class="d-flex justify-content-between">
                  <div><i class="icon-edit mr-1"></i> Last updated</div>
                  <span>23/12/2017</span>
                </div>
              </li>
              <li class="list-group-item">
                <div class="d-flex justify-content-between">
                  <div><i class="icon-thumbs-up mr-1"></i> Owner</div>
                  <span>@Model.Club.User.FirstName @Model.Club.User.LastName</span>
                </div>
              </li>

            </ul>
          </div>

          <!-- end card -->
        </div>
        <!--end of col-->
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>